<div class="container">
	<h4>New Friend</h4>

	<%= form_for :friend, url: friends_path do |f| %>
	  
	    <%= f.label :firstName %>
	    <%= f.text_field :firstName %>

	    <%= f.label :surname %>
	    <%= f.text_field :surname %>

	    <%= f.label :location %>
	    <%= f.text_field :location %>
 		<br>
	    <%= f.submit %>
	<% end %>
</div>