<h1>Show the weather</h1>

<% @friendsWeather.each do |friendWeather| %>
<p>
	<%= friendWeather['firstName'] %> <%= friendWeather['surname'] %> - <%= friendWeather['location'] %>
	<%= friendWeather['temperature'] %>°C - <%= friendWeather['weatherDescription'] %>
	<img src="http://openweathermap.org/img/w/<%= friendWeather['weatherIcon'] %>.png">
</p>
<% end %> 